.settings {
  position: absolute;
  top: 70px;
  left: 50%;
  transform: translateX(-50%);
  width: 800px;
  background-color: var(--settings-bg);
  padding: 30px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  box-shadow: 0 3px 3px var(--header-divider);
}

.radio__block {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 25px;

  label:not(:last-child){
    margin-right: 15px;
  }
}